<header class="site-header">
  <div class="header-inner">
    <div class="logo">
      <a href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="Humanuscrit">
      </a>
    </div>
    <div class="header-text">
      <div class="site-title">
        <a href="{{ '/' | relative_url }}">HUMANUSCRIT</a>
      </div>
      <nav class="site-nav">
        <a href="{{ '/textes/' | relative_url }}">Textes</a>
        <a href="{{ '/productions/' | relative_url }}">Productions</a>
        <a href="{{ '/a-propos/' | relative_url }}">À propos</a>
      </nav>
    </div>
  </div>
</header>
