<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'fr' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-wrapper parchment" aria-label="Content">
      <div class="parchment-top"></div>
      <div class="parchment-middle">
        <div class="parchment-content">{{ content }}</div>
      </div>
      <div class="parchment-bottom"></div>
    </main>

    {%- include footer.html -%}

    <script src="{{ '/assets/js/menu-toggle.js' | relative_url }}"></script>
  </body>

</html>
